language: c

addons:
  apt:
    packages:
      - libasound2:i386
      - libz1:i386
      - libbz2-1.0:i386
      - libssl1.0.0:i386
      - libfreetype6:i386

install: 
  - wget -O - get.pharo.org/70+vm | bash
  - ./scripts/disable-deprecation-warning.sh 
  - ./scripts/install-packages.sh Hermes hermes

script:
  - ./pharo hermes.image test --no-xterm --fail-on-failure "Hermes-Tests"
